In [2]:
import os
import time
import pandas as pd
from glob import glob
from tqdm.notebook import tqdm

In [3]:
# 현재 위치 확인
os.getcwd()

'C:\\Users\\h_j06\\Desktop\\DMF\\crawling\\project'

In [4]:
# 현재 파일 확인
sorted(os.listdir())

['.ipynb_checkpoints',
 '0.excel_merge.ipynb',
 '1.text_mining.ipynb',
 '2.visualization.ipynb',
 '2015to2021_Text_Prep.pkl',
 'README.md',
 'news.py',
 '~$기후위기_20150701_to_20210630.xlsx',
 '기후위기_20150701_to_20210630',
 '기후위기_20150701_to_20210630.xlsx',
 '기후위기_20220701_to_20230630',
 '기후위기_20220701_to_20230630.xlsx',
 '상위50그래프.png']

In [5]:
total = pd.DataFrame() # 반환용, 데이터 저장용도

# 반복문 돌리기 위해 전체 파일을 리스트에 담아 가져옴
# 현재 작업 경로의 '기후위기_20220701_to_20230630' 폴더에서 '.xlsx'가 있는 모든 파일을 가져옴
excel_files = glob('./기후위기_20220701_to_20230630/*.xlsx') 

for file in tqdm(excel_files):
    temp = pd.read_excel(file,header=0) # i 번째 파일을 불러와서 임시로 보관
    total = pd.concat([total,temp]) # temp를 반환용 DataFrame에 합쳐줌


# index 초기화
# drop = True 옵션을 준다면 원래 인덱스를 버린다.
total = total.reset_index(drop=True)

# title 열을 기준으로 중복된 행 제거
total = total.drop_duplicates(subset=['title'])

# 엑셀로 내보내는 코드
total.to_excel('기후위기_20220701_to_20230630.xlsx', index=False)

  0%|          | 0/13 [00:00<?, ?it/s]

In [8]:
df = pd.read_excel('기후위기_20150701_to_20210630.xlsx', index_col = 0)
df.head()

,date,title,body,link
media,,,,
경향신문,2015.11.13. 오후 8:59,[책과 삶]기후 위기 외면하는 인류에 보낸 ‘리얼 SF’,"ㆍ다가올 역사, 서양 문명의 몰락ㆍ나오미 오레스케스 외 지음·홍한별 옮김갈라파고스 ...",https://n.news.naver.com/mnews/article/032/000...
연합뉴스,2015.11.29. 오전 11:51,'기후위기 극복을 염원' 기자회견,(서울=연합뉴스) 이재희 기자 = 기후행동2015 관계자들이 29일 오전 서울 중구...,https://n.news.naver.com/mnews/article/001/000...
연합뉴스,2015.11.29. 오전 11:53,'파리총회의 성공과 기후위기 극복을 염원',(서울=연합뉴스) 이재희 기자 = 기후행동2015 관계자들이 29일 오전 서울 중구...,https://n.news.naver.com/mnews/article/001/000...
뉴시스,2015.11.29. 오후 12:07,기후위기 극복을 위한 1000인 선언,【서울=뉴시스】조성봉 기자 = 29일 오전 서울 종로구 베스트웨스턴 뉴서울호텔 세미...,https://n.news.naver.com/mnews/article/003/000...
뉴시스,2015.11.29. 오후 12:07,"이부영,' 기후위기 극복을 위해'",【서울=뉴시스】조성봉 기자 = 29일 오전 서울 종로구 베스트웨스턴 뉴서울호텔 세미...,https://n.news.naver.com/mnews/article/003/000...

### 언론사명 불용어처리

In [19]:
df.index.unique()

Index(['경향신문', '연합뉴스', '뉴시스', '세계일보', '전자신문', '문화일보', '매경이코노미', 'KBS', '뉴스1',
       '프레시안', '조선일보', '오마이뉴스', 'MBC', '국민일보', '미디어오늘', '한겨레', '아시아경제', '중앙일보',
       '동아일보', '한국일보', '노컷뉴스', '매일신문', '헤럴드경제', '부산일보', 'YTN', '파이낸셜뉴스',
       '데일리안', '머니S', '여성신문', '서울신문', '중앙SUNDAY', '머니투데이', '서울경제', '디지털타임스',
       '매일경제', '이데일리', '일다', '시사저널', 'JTBC', '주간경향', '더팩트', 'SBS', '한겨레21',
       '스포츠서울', '한국경제TV', '한국경제', '지디넷코리아', '기자협회보', 'TV조선', '연합뉴스TV', '조선비즈',
       '스포츠조선', '시사IN', '아이뉴스24', '강원일보', '엑스포츠뉴스', '동아사이언스', '스타뉴스', '한경비즈니스',
       'MBN', '마이데일리', 'SBS Biz', '코메디닷컴', '스포츠경향', '디지털데일리', '이코노미스트'],
      dtype='object', name='media')

In [20]:
# 주어진 리스트
media_list = ['경향신문', '연합뉴스', '뉴시스', '세계일보', '전자신문', '문화일보', '매경이코노미', 'KBS', '뉴스1',
              '프레시안', '조선일보', '오마이뉴스', 'MBC', '국민일보', '미디어오늘', '한겨레', '아시아경제', '중앙일보',
              '동아일보', '한국일보', '노컷뉴스', '매일신문', '헤럴드경제', '부산일보', 'YTN', '파이낸셜뉴스',
              '데일리안', '머니S', '여성신문', '서울신문', '중앙SUNDAY', '머니투데이', '서울경제', '디지털타임스',
              '매일경제', '이데일리', '일다', '시사저널', 'JTBC', '주간경향', '더팩트', 'SBS', '한겨레21',
              '스포츠서울', '한국경제TV', '한국경제', '지디넷코리아', '기자협회보', 'TV조선', '연합뉴스TV', '조선비즈',
              '스포츠조선', '시사IN', '아이뉴스24', '강원일보', '엑스포츠뉴스', '동아사이언스', '스타뉴스', '한경비즈니스',
              'MBN', '마이데일리', 'SBS Biz', '코메디닷컴', '스포츠경향', '디지털데일리', '이코노미스트']

# 각 항목을 튜플로 변환하고 'NNP'를 고정값으로 추가
result = [(item, 'NNP') for item in media_list]

# 결과 출력
print(result)

[('경향신문', 'NNP'), ('연합뉴스', 'NNP'), ('뉴시스', 'NNP'), ('세계일보', 'NNP'), ('전자신문', 'NNP'), ('문화일보', 'NNP'), ('매경이코노미', 'NNP'), ('KBS', 'NNP'), ('뉴스1', 'NNP'), ('프레시안', 'NNP'), ('조선일보', 'NNP'), ('오마이뉴스', 'NNP'), ('MBC', 'NNP'), ('국민일보', 'NNP'), ('미디어오늘', 'NNP'), ('한겨레', 'NNP'), ('아시아경제', 'NNP'), ('중앙일보', 'NNP'), ('동아일보', 'NNP'), ('한국일보', 'NNP'), ('노컷뉴스', 'NNP'), ('매일신문', 'NNP'), ('헤럴드경제', 'NNP'), ('부산일보', 'NNP'), ('YTN', 'NNP'), ('파이낸셜뉴스', 'NNP'), ('데일리안', 'NNP'), ('머니S', 'NNP'), ('여성신문', 'NNP'), ('서울신문', 'NNP'), ('중앙SUNDAY', 'NNP'), ('머니투데이', 'NNP'), ('서울경제', 'NNP'), ('디지털타임스', 'NNP'), ('매일경제', 'NNP'), ('이데일리', 'NNP'), ('일다', 'NNP'), ('시사저널', 'NNP'), ('JTBC', 'NNP'), ('주간경향', 'NNP'), ('더팩트', 'NNP'), ('SBS', 'NNP'), ('한겨레21', 'NNP'), ('스포츠서울', 'NNP'), ('한국경제TV', 'NNP'), ('한국경제', 'NNP'), ('지디넷코리아', 'NNP'), ('기자협회보', 'NNP'), ('TV조선', 'NNP'), ('연합뉴스TV', 'NNP'), ('조선비즈', 'NNP'), ('스포츠조선', 'NNP'), ('시사IN', 'NNP'), ('아이뉴스24', 'NNP'), ('강원일보', 'NNP'), ('엑스포츠뉴스', 'NNP'), ('동아사이언스', 'NNP'), ('스타뉴스', 'NNP'), ('한경비즈니스', 'NNP'), ('MBN', 'NNP'), ('마이데일리', 'NNP'), ('SBS Biz', 'NNP'), ('코메디닷컴', 'NNP'), ('스포츠경향', 'NNP'), ('디지털데일리', 'NNP'), ('이코노미스트', 'NNP')]

In [9]:
# Unnamed: 0 컬럼을 drop하여 제거
# df.drop(['Unnamed: 0'], axis = 1, inplace = True)
# df.head()