In [1]:
import os
import numpy as np
import pandas as pd
from kiwipiepy import Kiwi
from kiwipiepy.utils import Stopwords
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer

In [4]:
df = pd.read_excel('../input/기후위기_20150701_to_20240630.xlsx')
df.head(5)

,media,date,title,body,link,Unnamed: 0
0,경향신문,2015.11.13. 오후 8:59,[책과 삶]기후 위기 외면하는 인류에 보낸 ‘리얼 SF’,"ㆍ다가올 역사, 서양 문명의 몰락ㆍ나오미 오레스케스 외 지음·홍한별 옮김갈라파고스 ...",https://n.news.naver.com/mnews/article/032/000...,NaN
1,연합뉴스,2015.11.29. 오전 11:51,'기후위기 극복을 염원' 기자회견,(서울=연합뉴스) 이재희 기자 = 기후행동2015 관계자들이 29일 오전 서울 중구...,https://n.news.naver.com/mnews/article/001/000...,NaN
2,연합뉴스,2015.11.29. 오전 11:53,'파리총회의 성공과 기후위기 극복을 염원',(서울=연합뉴스) 이재희 기자 = 기후행동2015 관계자들이 29일 오전 서울 중구...,https://n.news.naver.com/mnews/article/001/000...,NaN
3,뉴시스,2015.11.29. 오후 12:07,기후위기 극복을 위한 1000인 선언,【서울=뉴시스】조성봉 기자 = 29일 오전 서울 종로구 베스트웨스턴 뉴서울호텔 세미...,https://n.news.naver.com/mnews/article/003/000...,NaN
4,뉴시스,2015.11.29. 오후 12:07,"이부영,' 기후위기 극복을 위해'",【서울=뉴시스】조성봉 기자 = 29일 오전 서울 종로구 베스트웨스턴 뉴서울호텔 세미...,https://n.news.naver.com/mnews/article/003/000...,NaN

In [9]:
# df = df.drop('Unnamed: 0', axis=1)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10831 entries, 0 to 10830
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   media   10831 non-null  object
 1   date    10831 non-null  object
 2   title   10831 non-null  object
 3   body    10819 non-null  object
 4   link    10831 non-null  object
dtypes: object(5)
memory usage: 423.2+ KB

In [10]:
df['media'].value_counts()

media
뉴스1       1255
연합뉴스       995
뉴시스        894
경향신문       486
아이뉴스24     471
          ...
월간 산         1
일간스포츠        1
신동아          1
게임메카         1
뉴스타파         1
Name: count, Length: 91, dtype: int64

In [11]:
# 연도별 자주 나온 키워드